*{
    margin: 0px;
}

.container{
    height: 100vh;
    background-color: rgba(140, 155, 159, 0.477);
    display: flex;
    justify-content: center;
}

.loader{
    width: 50px;
    height: 50px;
    border: 6px solid rgb(180, 162, 162);
    border-top: 6px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin: auto;
    animation-name: spinner;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* transition: 3s; */
    animation-direction: normal;
}

@keyframes spinner {
    /* from{

    }

    to {
        transform: rotate(360deg);
    } */

    0% { border-top: 6px solid rgb(0, 0, 0);transform: rotate(0deg); }
    20% { border-top: 6px solid rgb(255, 0, 0);transform: rotate(60deg); }
    40% { border-top: 6px solid rgb(74, 98, 159);transform: rotate(120deg); }
    60% { border-top: 6px solid rgb(92, 177, 88);transform: rotate(180deg); }
    /* 80% { border-top: 6px solid rgb(12, 233, 245);transform: rotate(240deg); } */
    100% { border-top: 6px solid rgb(89, 117, 118);transform: rotate(360deg); }
}